main{
    margin-top: 200px;
    display: flex;
    justify-content: space-around   ;
    align-items: center;    
}
.card-input{
    height: 400px;
    width: 500px;
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
}
h1{
    font-size: 25px;
}
form{
    padding: 15px;
    margin: 10px;
}
label, input{
    display: block;
}

button{
    outline: none;
    height: 20px;
    width: 80px;
    margin-top: 15px;
}

.resultado{
    text-align: center;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 5px;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
}
.resultado>p{
    display: inline;
    margin-inline: 10px;
}